# Gradle files
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Android build files
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# Logs
*.log

# Keystore files
*.jks
*.keystore

# macOS
.DS_Store

# Android profiling
*.hprof